{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Use for other page templates, -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid item-view-container">
        <div class="row">
            <div class="col text-center">
                <h2>Frames</h2>
            </div>
        </div>

        <div class="row">
            <div class="frames-container col-10">

                <div class="row">
                    
                    {% for frame in frames %}
                        <div class="col-sm-6 cold-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">

                                {% if frame.image %}
                                <a href="{% url 'frame_detail' frame.id %}">
                                    <img class="card-img-top img-fluid" src="{{ frame.image.url }}" alt="{{ frame.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'frame_detail' frame.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ frame.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ frame.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ frame.price }}</p>
                                            <!-- IF ADMIN EDIT/DELETE ITEMS *CRUD -->
                                            <!-- {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="{% url 'edit_product' product.id %}">Edit</a>
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                            {% endif %} -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div> 
        </div>
    </div>

{% endblock %}
