@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/website_bg4.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(7, 6, 6);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar */

.aa-custom-navbar {
    background-color: rgb(0, 0, 0)!important;
}

.logo-style {
    width: 3rem;
    height: 4.5rem;
}

.logo-size {
margin-top: 1rem;
margin-bottom: .65rem;
width:145px; 
height:auto;
transform: translate(0px, -7px);
padding-left: 1px;
}

.new-custom-navbar li a {
font-size: 1.5rem;
/* color: #fff; */
color:rgb(202, 196, 240)!important;
margin-left: 2rem;
margin-right: 2rem;
letter-spacing: 6px;
font-family: 'Spartan', sans-serif;
text-decoration: wavy;
}

.nav-text:hover {
    color:rgb(240, 225, 157)!important;
    transition: 400ms ease-in-out;
}


/* Header Container */

.header-container {
    padding-top: 110px;
}


/* Home Content */

.home-text {
    color:rgba(202, 196, 240, .85);
    font-weight: 500;
    /* font-style: italic; */
    line-height: 6rem;
    font-size: 5rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    text-decoration: wavy;
    margin-top: 15rem;
}

.start-design-button {
    background: rgb(0, 0, 0);
    color: rgb(160, 147, 240);
    min-width: 10rem;
    font-weight: 600;
    border-radius: 25px;
    letter-spacing: 4px;
}

.start-design-button:hover {
    color: rgb(226, 205, 112);
    transition: 800ms ease-in-out;
}

/* Profile Icon */

.profile-icon i {
    transform: translate( 0px, 3px);
    font-size: 1.5rem;
    color:rgb(202, 196, 240);
}

.bag-icon i {
    transform: translate( 0px, 3px);
    font-size: 1.5rem;
    color:rgb(202, 196, 240);
}

.profile-icon p {
    color:rgb(202, 196, 240);
}

.bag-icon p {
    color:rgb(202, 196, 240);
}

.navbar-linebreak {
    background-color: rgb(0, 0, 0);
    height: 4px;
}

.custom-toggler {
    font-size: 1.5rem;
    transform: translate( 360px , 5px );
    border-color: rgb(202, 196, 240)!important;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.overlay {
    height: 100%;
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 11rem;
    margin-right: 2rem;
    align-content: center;
    position: fixed;
    background: rgba(252, 252, 252, 0.65);
    z-index: -1;
    bottom:0;
}

/* Items View */

.item-view-container {
    background: rgba(61, 61, 61, 0.65);
    z-index: -10;
}

.underline {
    text-transform: uppercase;
    text-decoration: underline;
}

.main-page-title-headings {
    margin-top: 2rem;
    line-height: 6rem;
    font-size: 4rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}

.frames-container {
    height: 80%;
    width: 80%;
    margin-top: 0;
    margin-left: 11rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.frame-card {
    height: 21rem;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
}


.frame-card a img {
    height: 20rem;
    width: 15rem;
    /* border: 0.5rem outset rgb(201, 200, 200); */
}

.frame-title {
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Spartan', sans-serif;
    color: rgb(26, 25, 25);
    text-align: center;
}

.frame-description {
    font-size: .75rem;
    text-align: center;
    margin-right: 1rem;
}

.frame-dimensions {
    font-size: 1rem;
    text-align: center;
    margin-right: 2rem;
}

.frame-price {
    font-size: 1rem;
    text-align: center;
    margin-right: 2rem;
    margin-top: 4px;
}

.btn-add-to-bag {
    background-color: rgb(160, 147, 240);
    color: rgb(0, 0, 0);
    border-color: rgb(88, 88, 88);
    border-radius: 0px;
    margin-left: 2.5rem!important;
    position: relative;
    margin-top: 40px;
}

.btn-add-to-bag:hover { 
    background-color: rgb(191, 185, 226);
    color: rgb(0, 0, 0); 
}

/* Prints Page */

.prints-container {
    height: 80%;
    width: 80%;
    margin-top: 0;
    margin-left: 11rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.print-card a img {
    height: 25rem;
    width: 38rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.print-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Spartan', sans-serif;
    color: rgb(46, 45, 45);
    text-align: center;
}

.print-card {
 margin-top: 2rem;
}

.print-price {
    margin-top: 6rem;
}

.card-description {
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    text-align: left;
}


/* -- Media Queries */

@media screen and (max-width: 1450px) {

    .header-container {
        padding-top: 100px;
    }

    .home-text {
        line-height: 5rem;
        font-size: 4rem;
        letter-spacing: 8px;
}

.new-custom-navbar li a {
    font-size: 1.25rem;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    letter-spacing: 6px;
}

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
    .home-text {
        margin-top: 5rem;
    }

    .new-custom-navbar li a {
        font-size: 1.25rem;
        margin-left: 1rem;
        margin-right: 1rem;
        letter-spacing: 4px;
        }

  }


  
  /* fixed top navbar only on md and bigger */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 100px;
      }
  }

  @media screen and (max-width: 768px) {

  .custom-toggler {
    font-size: 1.5rem;
    transform: translate( 305px , 1px );
    border-color: rgb(255, 255, 255)!important;
}

.new-custom-navbar li a {
    font-size: 1.25rem;
    margin-left: -0.25rem;
}

.home-text {
    margin-top: 13rem;
}

.start-design-button {
    transform: translateY( -35px );
}

}

@media screen and (max-width: 375px) {

.logo-size {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

.custom-toggler {
    font-size: 1.5rem;
    transform: translate( 90px , 0px );
    border-color: rgb(255, 255, 255)!important;
}

.new-custom-navbar li a {
    font-size: .75rem;
    margin-left: 5.5rem;
    letter-spacing: 2px;
}

.home-text {
    font-size: 1.65rem;
    line-height: 1.65rem;
    letter-spacing: 6px;
    margin-top: 10rem;
}

.start-design-button {
    font-size: .75rem;
    min-width: 6rem;
    letter-spacing: 2px;
}



}