@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/website_bg4.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(7, 6, 6);
    font-family: 'Alata', sans-serif;
}

/* Navbar */

.aa-custom-navbar {
    background-color: rgb(0, 0, 0)!important;
}

.logo-style {
    width: 3rem;
    height: 4.5rem;
}

.logo-size {
margin-top: 1rem;
margin-bottom: .65rem;
width:145px; 
height:auto;
transform: translate(0px, -7px);
padding-left: 1px;
}

.new-custom-navbar li a {
font-size: 1.5rem;
/* color: #fff; */
color:rgb(202, 196, 240)!important;
margin-left: 2rem;
margin-right: 2rem;
letter-spacing: 6px;
font-family: 'Spartan', sans-serif;
text-decoration: wavy;
}

.nav-text:hover {
    color:rgb(240, 225, 157)!important;
    transition: 400ms ease-in-out;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-header button {
    margin-left: 15rem;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Cookie Container */

.cookie-container {

    max-width: 1200px;
    align-content: center;
    margin: auto;
    border-radius: 10px;
    position: fixed;
    bottom: -200%;
    left: 0;
    right: 0;
    background: #818181;
    color: #fff;
    padding: 1rem 13rem;
    text-align: center;
    font-size: 1rem;
    transition: 400ms;
    box-shadow: 0 -2px 16px rgba(46, 46, 46, 0.459);
    z-index: 10;
}

.cookie-container.active {
    bottom: 0;
 
}

.cookie-container a {
    color: #fff;
    text-decoration: underline;
}

.cookie-btn {
    background: rgb(160, 147, 240);
    border: 0;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0rem;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

.cookie-btn:hover {
    background: rgba(202, 196, 240, .85);
    transition: 400ms;
}


/* Header Container */

.header-container {
    padding-top: 110px;
}


/* Home Content */

.home-text {
    color:rgba(202, 196, 240, .85);
    font-weight: 500;
    /* font-style: italic; */
    line-height: 6rem;
    font-size: 5rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    text-decoration: wavy;
    margin-top: 15rem;
}

.start-design-button {
    background: rgb(0, 0, 0);
    color: rgb(160, 147, 240);
    min-width: 10rem;
    font-weight: 600;
    border-radius: 25px;
    letter-spacing: 4px;
}

.start-design-button:hover {
    color: rgb(226, 205, 112);
    transition: 800ms ease-in-out;
}

/* Profile Icon */

.profile-icon i {
    transform: translate( 0px, 3px);
    font-size: 1.5rem;
    color:rgb(202, 196, 240);
}

.bag-icon i {
    transform: translate( 0px, 3px);
    font-size: 1.5rem;
    color:rgb(202, 196, 240);
}

.profile-icon p {
    color:rgb(202, 196, 240);
}

.bag-icon p {
    color:rgb(202, 196, 240);
}

.navbar-linebreak {
    background-color: rgb(0, 0, 0);
    height: 4px;
}

.custom-toggler {
    font-size: 1.5rem;
    transform: translate( 360px , 5px );
    border-color: rgb(202, 196, 240)!important;
}


.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.overlay {
    height: 100%;
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 11rem;
    margin-right: 2rem;
    align-content: center;
    position: fixed;
    background: rgba(167, 166, 166, 0.85);
    z-index: -1;
    bottom:0;
}

/* Items View */

.item-view-overlay {
    height: 100%;
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 11rem;
    margin-right: 2rem;
    align-content: center;
    position: fixed;
    background: rgb(151, 151, 151);
    z-index: -1;
    bottom:0;
}

.item-view-container {
    /* background: rgba(119, 119, 119, 0.95); */
    z-index: -10;
    height: 100%;
}

.item-detail-view-container {
    background: rgba(235, 233, 233, 0.95);
    z-index: -10;
    height: 110%;
}


.underline {
    text-transform: uppercase;
    text-decoration: underline;
}

.main-page-title-headings {
    margin-top: 2rem;
    line-height: 6rem;
    font-size: 4rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}

.smaller-title-headings {
    margin-top: 2rem;
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}

/* ADD/EDIT Product styles */

.subtext-muted {
    font-weight: 600;
    font-size: 1.5rem;
    color: #000;
}

.product-buttons {
    margin-bottom: 2rem;
}

.cancel-button {
    margin-left: 10rem;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: rgb(224, 221, 221);
}

.edit-cancel-button {
    margin-left: 3rem;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: rgb(224, 221, 221);
}

.add-update-product {
    margin-left: 20rem;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: rgb(224, 221, 221);
}

.update-product {
    margin-left: 15rem;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: rgb(224, 221, 221);
}

/* Product Details Page */

.print-image-preview {
    height: 20rem;
    width: 26rem;
    transform: translate( 20px, 16px );
}

.product-detail-container {
   

}

.product-detail-image-col {
    
}

.product-detail-info-col {

}

.product-detail-info-col .frame-title{
margin-top: 1rem;
margin-right: 6rem;
font-size: 2rem;
font-weight: 600;
}

.quantity-row {
    margin-left: 15rem;
}

.quantity-title {
    margin-left: 2.5rem;
    text-align: center;
}

.add-bag-button {
    background: rgb(0, 0, 0);
    color: rgb(160, 147, 240);
    min-width: 6rem;
    font-weight: 600;
    border-radius: 15px;
    letter-spacing: 4px;
    font-size: .75rem;
    transform: translate( 39px, 22px);
}

.add-bag-button:hover {
    color: rgb(226, 205, 112);
    transition: 800ms ease-in-out;
}

.detail-image-view {
    height: 23rem;
    width: 17rem;
    transform: translate( 160px, 16px );
}

.detail-image-view-prints {
    height: 17rem;
    width: 23rem;
    transform: translate( 5px, 16px );
}

.edit-product-btn {
    color: #596f62;
    font-size: 1rem;
    padding-left: 2rem;
}

.delete-product-btn {
color: darkred;
padding-left: 2rem;
}

/* Frames Page */

.frames-container {
    height: 80%;
    width: 80%;
    margin-top: 0;
    margin-left: 11rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.frame-card {
    height: 21rem;
    margin-top: 2rem;
    background-color: rgb(255, 255, 255);
}


.frame-card a img {
    height: 20rem;
    width: 15rem;
    /* border: 0.5rem outset rgb(201, 200, 200); */
}

.frame-title {
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Spartan', sans-serif;
    color: rgb(26, 25, 25);
    text-align: center;
}

.frame-description {
    font-size: .75rem;
    text-align: center;
    margin-right: 1rem;
}

.frame-dimensions {
    font-size: 1rem;
    text-align: center;
    margin-right: 2rem;
}

.frame-price {
    font-size: 1rem;
    text-align: center;
    margin-right: 2rem;
    margin-top: 4px;
}

.btn-add-to-bag {
    background-color: rgb(160, 147, 240);
    color: rgb(0, 0, 0);
    border-color: rgb(88, 88, 88);
    border-radius: 0px;
    margin-left: 2.5rem!important;
    position: relative;
    margin-top: 40px;
}

.btn-add-to-bag:hover { 
    background-color: rgb(226, 205, 112);
    transition: 800ms ease-in-out;
}

/* Prints Page */

.prints-container {
    height: 80%;
    width: 80%;
    margin-top: 0;
    margin-left: 16rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.print-card a img {
    height: 25rem;
    width: 38rem;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.print-title {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Spartan', sans-serif;
    color: rgb(46, 45, 45);
    text-align: center;
}

.print-card {
 margin-top: 2rem;

}

.print-price {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.card-description {
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    text-align: left;
}

/* Blog Page */

.blog-page-title-headings {
    margin-top: 2rem;
    line-height: 6rem;
    font-size: 3rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}


.blog-read-more-btn {
    background: rgb(0, 0, 0);
    color: rgb(160, 147, 240);
    min-width: 20rem;
    font-weight: 600;
    border-radius: 25px;
    letter-spacing: 4px;
    font-size: 1rem;
    margin-left: 20rem;
}

.blog-comment-btn {
    background: rgb(0, 0, 0);
    color: rgb(160, 147, 240);
    min-width: 8rem;
    font-weight: 600;
    border-radius: 25px;
    letter-spacing: 4px;
    font-size: 1rem;
    margin-left: 0rem;
}

/* Shopping Bag */

.light-overlay {
    height: 100%;
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 11rem;
    margin-right: 2rem;
    align-content: center;
    position: fixed;
    background: rgba(218, 218, 218, 0.95);
    z-index: -1;
    bottom:0;

}

.shopping-page-title-headings {
    margin-top: 2rem;
    line-height: 6rem;
    font-size: 4rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}


.bag-header {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
}

.bag-content {
    padding-top: 5rem!important;
}

.quant-form {
    margin-right: 4rem!important;
    width: 8rem!important;
    transform: translate( -14px, 0px)!important;
}

.subtotal-bag-title {
    padding-left: 10rem!important;
}

.align-right {
    text-align: right;
}

.bag-total-align-right {
    text-align: right;
    padding-right: 14rem!important;
}

.keep-shopping-btn {
    padding-right: 34rem!important;
}

.secure-checkout-button {
    background: rgb(0, 0, 0);
    color: rgb(160, 147, 240);
    min-width: 6rem;
    font-weight: 600;
    border-radius: 15px;
    letter-spacing: 4px;
    font-size: .75rem;
    transform: translate( 0px, 0px);
}
   
.secure-checkout-button:hover {
    color: rgb(226, 205, 112);
    transition: 800ms ease-in-out;
}

.subtotal-price {
    padding-left: 10.5rem!important;
    font-weight: 600;
    font-size: 1.5rem;
}

.empty-bag-text {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.back-to-shop-btn {
    margin: 0;
  position: absolute;
  margin-top: 2rem;
  transform: translate( 510px, 0px);
}

/* Image Uploader */

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
  background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
    display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#4bd7ef;
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}



/* Profile Authorisations */

.allauth-form-inner-content {
    margin-left: 0rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.allauth-overlay {
    
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    align-content: center;
    position: fixed;
    background: rgba(212, 211, 211, 0.85);
    z-index: -1;
    bottom:0;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: rgb(160, 147, 240);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(160, 147, 240);
    border-radius: 0;
}

/* Checkout Page */

.final-checkout-btn {
margin-left: 3rem!important;
background-color: black;
color:rgb(160, 147, 240);
}

.secure-checkout-icon i {
color:rgb(160, 147, 240);
}

/* Checkout Success */

.checkout-form-large-size {
    margin-left: 0rem!important;
    padding-left: 5rem;
    padding-right: 4rem;
}

.checkout-title {
    padding-left: 5rem;
    padding-right: 4rem;
}


.checkout-success-container {
    padding-left: 20rem!important;
    }
    
    .orderinfo-success-container {
        padding-left: 20rem!important;
    }
    
    .return-button {
        padding-left: 26rem!important;
    }
    
    .new-prints-button {
        padding-left: 30rem!important;
    }
    
    .checkout-success-bottom {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

/* -- Media Queries */

@media screen and (max-width: 1450px) {

    .header-container {
        padding-top: 100px;
    }

    .home-text {
        line-height: 5rem;
        font-size: 4rem;
        letter-spacing: 8px;
}

.new-custom-navbar li a {
    font-size: 1.25rem;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    letter-spacing: 6px;
}

.quant-form a {
    cursor: pointer!important;
}


.update-link  {
    cursor: pointer!important;
    padding-right: 1rem;
}

.remove-item {
    cursor: pointer!important;
    padding-left: 1rem;
}

/* Checkout Success */

.checkout-form-large-size {
    margin-left: 0rem!important;
}

.checkout-success-container {
    padding-left: 20rem!important;
}
}


@media (min-width: 1450px) {

    .blog-read-more-btn {
        margin-left: 15rem!important;
        min-width: 25rem!important;
    }


}

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
    .home-text {
        margin-top: 5rem;
    }

    .new-custom-navbar li a {
        font-size: 1.25rem;
        margin-left: 1rem;
        margin-right: 1rem;
        letter-spacing: 4px;
    }

        .blog-read-more-btn {
            background: rgb(0, 0, 0);
            color: rgb(160, 147, 240);
            min-width: 20rem;
            font-weight: 600;
            border-radius: 25px;
            letter-spacing: 4px;
            font-size: 1rem;
            margin-left: 8rem;
        }


  }


  
  /* fixed top navbar only on md and bigger */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 100px;
      }

/* Shopping Bag */

.light-overlay {
    height: 100%;
    width: 80%;
    margin-top: 2.5rem;
    margin-left: 8rem;
}

.back-to-shop-btn {
    transform: translate( 360px, 0px);
}

.checkout-form-large-size {
    margin-left: 0rem!important;
}


}

  @media screen and (max-width: 768px) {

    .home-text {
        margin-top: 7rem;
    }

    .light-overlay {
        height: 100%;
        width: 100%;
        margin-top: 2.5rem;
        margin-left: 0rem; 
        margin-right: 0rem;
    }

  .custom-toggler {
    font-size: 1.5rem;
    transform: translate( 200px , 1px );
    border-color: rgb(255, 255, 255)!important;
}

.new-custom-navbar li a {
    font-size: 1.25rem;
    margin-left: -0.25rem;
}


.start-design-button {
    transform: translateY( -35px );
}

/* Prints Page */

.overlay {
    height: 100%;
    width: 100%;
    margin-top: 2.5rem;
    margin-left: 0rem;
    margin-right: 0rem; 
    align-content: center;
}

.print-card a img {
    height: 23rem;
    width: 34rem;
}

.quantity-row {
    margin-left: 8rem;
}

.button-column-products {
    transform: translate( -70px, 0px);
}

.print-image-preview {
    height: 12rem;
    width: 17rem;
    transform: translate( 11px, 30px );
}

.detail-image-view {
    height: 23rem;
    width: 17rem;
    transform: translate( 20px, 16px );
}

.prints-container {
    height: 80%;
    width: 100%;
    margin-top: 0;
    margin-left: 6rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
}

.print-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
}

.card-description {
    font-size: 1.25rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.print-price {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
}


/* Frames Page */

.frames-container {
    margin-left: 5rem;
}

/* Blog Page */

.blog-read-more-btn {   
    margin-left: 3rem;
}


/* Product Management */

.overlay {
    height: 100%;
    width: 100%;
    margin-left: 0rem; 
    margin-right: 0rem;
}

.cancel-button {
    margin-left: 1rem;
}

.add-update-product {
    margin-left: 7rem;
}

/* Checkout Page */

.checkout-submit-section {
margin-top: 1rem!important;
margin-left: 3rem;
}

.final-checkout-btn {
margin-left:7rem!important;
background-color: black;
color:rgb(160, 147, 240);
}
        
.secure-checkout-icon i {
color:rgb(160, 147, 240);
}
    
.back-to-bag-btn {
margin-left: 3.5rem!important;
}

.card-charge-text {
margin-top: 1rem!important;
margin-left: 9.5rem!important;
}
    

/* Shopping Bag */

.main-page-title-headings {
    margin-top: 2rem;
    line-height: 6rem;
    font-size: 3rem;
}

.shopping-page-title-headings {
    margin-top: 2rem;
    line-height: 6rem;
    font-size: 2rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}

.keep-shopping-btn {
    padding-right: 16rem!important;
}

.bag-total-align-right {
    text-align: right;
    padding-right: 0rem!important;
}

/* Logout Page */

.allauth-form-inner-content {
    padding-left: 0rem; 
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
}

.col-md-6 {
    margin-left: auto;
    margin-right: auto;
}

.allauth-overlay {
    width: 90%;
}

.back-to-shop-btn {
    transform: translate( 205px, 0px);
}

/* Cookie Banner */

.cookie-container {
    max-width: 768px;
    padding: 1rem 6rem;
}

}

@media screen and (max-width: 375px) {

body {
    position: absolute;
}

/* Cookie Banner */

.cookie-container {
    max-width: 374px;
    bottom: -200%;
    padding: 1rem 0rem;
    text-align: center;
    font-size: .75rem;
}

.cookie-btn {
    padding: 1rem 1rem;
    font-size: .75rem;
}

/* Overlays */

.container {
    max-width: 320px;
}

.allauth-overlay {
    max-width: 100%;
}    


.light-overlay {
    max-width: 375px;
    height: 100%;
    width: 100%;
    margin-top: 2.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

/* Navbar */

.header-container {
    padding-top: 100px;
    max-width: 375px;
}

.logo-size {
    margin-top: 1rem;
    margin-bottom: 1rem; 
    width: 5rem;
    height: 3rem;
}

.nav-link {
    padding: 0;
}

.nav-link .profile-icon i {
    font-size: 1rem;
}

.nav-link .bag-icon i {
    font-size: 1rem;
}

.profile-icon p {
    font-size: .75rem;
}

.bag-icon p {
    font-size: .75rem;
}

.navbar-ul li {
    display: inline;
    float: left;
}

.nav-icon-links {
    padding-left: 50px;
    float: left;
}

.custom-toggler {
    font-size: .75rem;
    transform: translate( 30px , 0px );
    border-color: rgb(255, 255, 255)!important;
}

.new-custom-navbar li a {
    font-size: .5rem;
    margin-left: 2rem;
    padding-top: 8px;
    letter-spacing: 2px;
}

.home-text {
    font-size: 1.65rem;
    line-height: 1.65rem;
    letter-spacing: 6px;
    margin-top: 3rem;
}

.start-design-button {
    font-size: .75rem;
    min-width: 6rem;
    letter-spacing: 2px;
}

/* Toasts */

.message-container {
    position: fixed;
    max-width: 200px;
    top: 66px;
    right: 90px;
    z-index: 99999999999;
}

.toast-header button {
    margin-left: 6rem;
}

/* Prints Page */

.print-card a img {
    height: 15rem;
}

.print-title {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Spartan', sans-serif;
    color: rgb(46, 45, 45);
    text-align: center;
}

.card-description {
    font-size: .75rem;
    font-weight: 500;
    color: black;
    text-align: center;
}

.print-price {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* Shopping Bag */

.back-to-shop-btn {
    transform: translate( 20px, 0px);
}

.shopping-page-title-headings {
    margin-top: 2rem;
    line-height: 32px;
    font-size: 1.5rem;
    letter-spacing: 8px;
    font-family: 'Spartan', sans-serif;
    z-index: 1;
}

.empty-bag-text {
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
}

.back-to-shop-btn {
    transform: translate( 53px, 0px);
    font-size: .75rem;
}

.secure-checkout-button {
    margin-left: 2rem;
}

.keep-shopping-btn {
    margin-left: 4rem;
    font-size:.75rem;
    padding-right: 6rem!important;
}

.bag-total-col {
    text-align: center;
}

.summary-text {
    font-size: .75rem;
    margin-top: 1rem;
    text-align: center;
}

.align-text {
    text-align: center;
}

.update-link {
    cursor: pointer!important;
    padding-left: 4rem;
    color: #596f62;
}

.remove-item {
    cursor: pointer!important;
    padding-left: 2rem;
    color: darkred;
}

.scroll-top-btn {
    background-color: black;
    border-radius: 25px;
    margin-bottom: 1rem;
}

.scroll-top-btn a {
    text-decoration: none;
}

.scroll-top-btn a i {
    font-size: 1.5rem;
    color: rgb(160, 147, 240)!important;
    border-radius: 25px;
}

/* Checkout Page */

.checkout-form-large-size {
    padding-left: 0rem!important;
    padding-right: 0rem!important;
}

.checkout-submit-section {
margin-top: 0rem!important;
}

.final-checkout-btn {
margin-left:1rem!important;
background-color: black;
color:rgb(160, 147, 240);
}
    
.secure-checkout-icon i {
color:rgb(160, 147, 240);
}

.back-to-bag-btn {
margin-left: 1.5rem!important;
}

.card-charge-text {
margin-top: 1rem!important;
margin-left: -2rem!important;
}


/* Product Management */

.cancel-button {
    margin-left: 0rem;
    font-size: 1rem;
}


.add-update-product {
    margin-left: 2rem;
    font-size: 1rem;
}

.edit-cancel-button {
    margin-left: 0rem;
    font-size: .75rem;
}

.update-product {
    margin-left: 2rem;
    font-size: .75rem;
}

.main-add-product-section {
    width: 80%!important;
    margin-left: auto;
    margin-right: auto;
}

/* Prints Page */


/* Frames Page */

.main-page-title-headings {
    margin-top: 2rem;
    line-height: 0rem;
    font-size: 2rem;
    letter-spacing: 8px;
    margin-left: 2rem;
}

.frames-container {
margin-left: 0rem;
width: 100%;
}

.frame-card a img {
    height: 14rem;
}

/* Blog Page */

.blog-page-title-headings {
    margin-top: 2rem;
    line-height: 3rem;
    font-size: 1.5rem;
}

.blog-read-more-btn {
    min-width: 10rem;
    margin-left: 2rem;
}



/* Logout Page */

.allauth-form-inner-content {
    padding-left: 0rem; 
    padding-right: 0rem;
    margin-left: auto;
    margin-right: auto;
}

}