<div class="collapse navbar-collapse" id="navbar">
    <ul class="new-custom-navbar navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 nav-text" href="#" id="#">
                Home
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 nav-text" href="#" id="#">
                Prints
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 nav-text" href="{% url 'frames' %}" id="#">
               Frames
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5 nav-text" href="#" id="#">
                Design
            </a>
        </li>
        
    </ul>
</div>