{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid item-view-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="underline error-page-title-headings">ERROR 403</h2>
            </div>
        </div>
<!-- Title Ends -->

    <div class="row">
        <div class="error-container col-10">
            <P>Permission Denied.</P>
            <p>Return to <a href="{% url 'home' %}" class="error-btn"> Home Page </a></p>
        </div> 
    </div>  
{% endblock %}