{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Use for other page templates, -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid item-view-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="underline main-page-title-headings">Prints</h2>
            </div>
        </div>
<!-- Title Ends -->

<!-- Large View Display -->
        <div class="row">
            <div class="prints-container col-10">

                <div class="row d-none d-lg-block">
                    {% for print in prints %}
                    <div class="col-1"></div>
                    <div class="col-10 cold-md-10 col-lg-10 col-xl-10 b-1">
                        <div class="card border-0 print-card">
                            <!-- New Row-->
                            <div class="row">
                                <!-- Col 1  -->
                                <div class="col">
                                {% if print.image %}
                                <a href="{% url 'product_detail' print.id %}">
                                    <img class="card-img-top img-fluid" src="{{ print.image.url }}" alt="{{ print.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' print.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ print.name }}">
                                </a>
                                {% endif %}
                                </div>
                                <!-- Col 2 -->
                                <div class="col">
                                    <div class="card-body pb-0">
                                        <p class="mb-0 print-title">"{{ print.name }}"</p>
                                    </div>
                                    <div class="card-description pb-0 card-body">
                                        <p class="mb-0">{{ print.description }}</p>
                                    </div>
                                    <div class="pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col print-price">
                                                <p class="lead mb-0 text-left font-weight-bold">€{{ print.price }}</p>

                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-1"></div>
                {% endfor %}
                </div>

            </div> 
        </div>
<!-- Large Display End -->

<!-- Small View Display -->

    <div class="d-block d-lg-none">

        {% for print in prints %}
        <!-- COL LEFT -->
        
        <!-- COL RIGHT -->
        <div class="col-12 b-1">
            <div class="card border-0 print-card">
                <!-- New Row-->
                <div class="row">
                    <!-- Row 1  -->
                    {% if print.image %}
                    <a href="{% url 'product_detail' print.id %}">
                        <img class="card-img-top img-fluid" src="{{ print.image.url }}" alt="{{ print.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' print.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ print.name }}">
                    </a>
                    {% endif %}
                </div>
                    <!-- Row 2 -->
                <div class="row">

                        <div class="card-body pb-0">
                            <p class="mb-0 print-title">"{{ print.name }}"</p>
                        </div>
                        <div class="card-description pb-0 card-body">
                            <p class="mb-0">{{ print.description }}</p>
                        </div>
                        <div class="pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col print-price">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ print.price }}</p>
                                </div>
                            </div>
                        </div>
                       
                </div>
            <!-- End New Row-->
                

            </div>
        </div>
        <!-- COL RIGHT -->
    {% endfor %}

    </div>
<!-- Small Display End -->




















        
    </div>

{% endblock %}
